/*--------------------------------------imports-----------------------------------------*/
@import url(reset.css);
@import url(background_css.css);
/*--------------------------------------fonts-----------------------------------------*/
@font-face {
    font-family: "blue_shell";
    src: url(./../font/RoBlueShellBold-gxn35.otf);
}
@font-face {
    font-family: "salmapro";
    src: url(./../font/SalmaproMedium-0Wooo.otf);
}
/*--------------------------------------elements-----------------------------------------*/
:root{
    --section_background_color:white;
}

html{
    font-family: "salmapro";
    box-sizing: border-box;
    z-index: 0;
}

*{
    box-sizing: inherit;
    z-index: inherit;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.5rem;
}

img{
    max-width: 100%;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex:1;
}

header{
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
}

nav{
    background-color: rgba(0, 0, 0, 0.8);
    position:fixed;
    top: 60px;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease;
    text-align: center;
    font-size: 0px;
    text-size-adjust: auto;
    font-size-adjust: 0.58;
}
nav ul{
    height: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

nav ul a{
    background-color: white;
    height:100%;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

nav ul li{
    height: 100%;
    border-radius: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

section{
    position: relative;
    background-color: var(--section_background_color);
    z-index: 5;
}

.text_group{
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

#main_img_container
{
    position: relative;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    min-width: 100%;
    background-image: url(./../image/56326e82-431b-4e1b-97b5-b6630c8a84d3-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

#main_image_color_overlay{
    position:absolute;
    height: 100%;
    width: 100%;
    -webkit-animation-name: color_change;
            animation-name: color_change;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

#logo_container img{
    height: 50px;
    margin: 5px;
}

#web_title{
    font-size: 15px;
    text-align: left;
    position:absolute;
    top:20vh;
    left: 10px;
    font-family: "blue_shell";
    text-transform: uppercase;
    line-height: 2;
}

#web_sub_title{
    font-size: 30px;
    text-align: left;
    position:absolute;
    top:calc(20vh + 30px);
    left: 10px;
    font-weight: bold;
}

#menu_button{
    height: 50px;
    margin: 5px;
    transition: all 0.5s linear;
}

#menu_button img{
    max-height: 100%;

}

.photo_catagory_figure{
    max-width: 70%;
    margin: 50px auto;
}

.photo_catagory_figure figcaption{
    text-align: center;
}

.photo_catagory_figure img{ 
    min-height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
}
.parallax_background_section{
    position: relative;
    background-image: url("./../image/IMG_6104.webp");
    background-repeat: no-repeat;
    background-size:200vh;
    min-height: 80vh;
    margin: 100px 0;
}
.parallax_background_section h2{
    font-size: 1em;
}
.parallax_background_section h2{
    position: absolute;
    font-size: 1em;
    top: 70%;
    left: 20%;
}
.parallax_background_section h2::after, #main_contact_section h2::after{
    content: "➮";
    font-size: 1.5em;
    text-decoration: none;
}
.parallax_background_section p{
    font-size: 1em;
}
.parallax_background_section p{
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 5%;
    max-width: 500px;
}

#main_contact_section{
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    padding: 10px;
}
#main_contact_section img{
    grid-area: 1/1/span 2/1;
    padding: 20px;
    margin: auto;
}
#main_contact_section h2{
    font-size: 1em;
}
#main_contact_section p{
    font-size: 1em;
    align-self:flex-end;
}
#footer_copyright{
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    background-color: black;
    text-transform: uppercase;
}
#footer_medias{
    display: flex;
    justify-content: center;
}
#footer_medias > *{
    margin: 10px;
}
#footer_medias img{
    max-width: 30px;
}
.header_margin{
    margin-top: 70px;
}
#about_me_section {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
#about_me_section > *{
    padding: 10px;
}
.download_btn{
    min-width: 200px;
    min-height: 50px;
    color: black;
    background-color: white;
    font-size: 1.5em;
    transition: all 0.2s linear;
    cursor: pointer;
}
.download_btn:hover{
    color: white;
    background-color: black;
}
.lable_group{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.contact_me_textbox{
    display: block;
    margin: auto;
    align-self: center;
    width: 95%;
    max-width: 100%;
    min-height: 300px;
}
#contact_section img{
    display: block;
    margin: auto;
}

.margin_center{
    display: block;
    margin: auto;
}
/*---------------------------------------media-----------------------------------------*/
@media (min-width:750px){
    .photo_catagory_figure{
        max-width: 100%;
        height: 100%;
        width: 100%;
    }
    .photo_catagory_figure img{ 
        min-height: unset;
        height: 100%;
        width: 100%;
    }
    #photography_gallery_section{
        display: grid;
        grid-template-columns: 10px 2fr 1fr 2fr 1fr 2fr 1fr 2fr 10px;
        grid-template-rows: 70px 100px 200px 100px 20px;
    }
    #photography_gallery_section h2{
        grid-area: 1/1/1/ span 9;
    }
    .gallery1{
        grid-area: 2/2/span 2/2;
    }
    .gallery2{
        grid-area: 3/4/span 2/4;
    }
    .gallery3{
        grid-area: 2/6/span 2/6;
    }
    .gallery4{
        grid-area: 3/8/span 2/8;
    }
    #about_me_section{
        margin: auto;
        max-width: 1000px;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 250px;
    }
    #about_me_section img{
        grid-area: 1/1/span 2 /1;
    }
    #about_me_section .download_btn, #about_me_section p, #about_me_section img{
        margin: auto;
    }
    #contact_section{
        margin: auto;
        max-width: 1000px;
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    #contact_section textarea{
        resize: none;
    }
}
@media (min-width:1024px)
{
    header{
        display: flex;

    }
    nav{
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        height: 50px;
        opacity: 1;
        top: unset;
        z-index: 15;
        align-self: center;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        z-index: 15;
    }
    nav ul a{
        flex: 1;
        margin: 5px;
        height: 90%;
        z-index: 15;
    }
    nav ul a li{
        font-size: 20px;
        z-index: 15;
    }
}

/*--------------------------------------keyframe-----------------------------------------*/
@-webkit-keyframes color_change{
    0%,100%{
        background-color: rgba(168, 29, 29, 0.3);
    }
    20%{
        background-color: rgba(29, 112, 168, 0.3);
    }
    40%{
        background-color: rgba(89, 29, 168, 0.3);
    }
    60%{
        background-color: rgba(29, 168, 75, 0.3);
    }
    80%{
        background-color: rgba(147, 168, 29, 0.3);
    }
}
@keyframes color_change{
    0%,100%{
        background-color: rgba(168, 29, 29, 0.3);
    }
    20%{
        background-color: rgba(29, 112, 168, 0.3);
    }
    40%{
        background-color: rgba(89, 29, 168, 0.3);
    }
    60%{
        background-color: rgba(29, 168, 75, 0.3);
    }
    80%{
        background-color: rgba(147, 168, 29, 0.3);
    }
}